In [1]:
import pandas as pd
import numpy as np

In [2]:
df_data = pd.read_csv("../Data/preprocessed_alcohol_balance.csv")
# display(df_data)

In [3]:
list(df_data)

['TestID',
 'Conditie',
 'SubjectID',
 'SegmentNr',
 'WalkingDirection',
 'SegmentData',
 'Alcohol',
 'Height',
 'Weight',
 'Age',
 'BMI',
 'Balance_MLrange',
 'Balance_MLstdev',
 'Balance_MLmeanVelocity',
 'Balance_APrange',
 'Balance_APstdev',
 'Balance_APmeanVelocity',
 'Balance_MeanVelocity',
 'GaitVelocity',
 'MovementVelocity',
 'mad_SegmentData',
 'mean_StepLength',
 'Velocity',
 'Alcohol_Class',
 'std_SegmentData']

In [5]:
aggregation_functions = {
 'Conditie': 'first',
 'SubjectID': 'first',
 'Height': 'mean',
 'Weight': 'mean',
 'Age': 'mean',
 'BMI': 'mean',
 'Alcohol': 'mean',
 'Alcohol_Class': 'first',
 'Balance_MLrange': 'mean',
 'Balance_MLstdev': 'mean',
 'Balance_MLmeanVelocity': 'mean',
 'Balance_APrange': 'mean',
 'Balance_APstdev': 'mean',
 'Balance_APmeanVelocity': 'mean',
 'Balance_MeanVelocity': 'mean',
 'GaitVelocity': 'mean',
 'MovementVelocity': 'mean',
 'std_SegmentData': 'mean', 
 'mad_SegmentData': 'mean',
 'mean_StepLength': 'mean',
 'Velocity': 'mean',}
df_new = df_data.groupby(df_data['TestID']).aggregate(aggregation_functions)

In [8]:
display(df_new)
# df_new.to_csv(path_or_buf="../Data/preprocessed_alcohol_balance_perperson.csv", index=False)

,Conditie,SubjectID,Height,Weight,Age,BMI,Alcohol,Alcohol_Class,Balance_MLrange,Balance_MLstdev,...,Balance_APrange,Balance_APstdev,Balance_APmeanVelocity,Balance_MeanVelocity,GaitVelocity,MovementVelocity,std_SegmentData,mad_SegmentData,mean_StepLength,Velocity
TestID,,,,,,,,,,,,,,,,,,,,,
006A01',norm,6,177,70.0,20,22.343516,0.0,0,10.421641,2.753424,...,8.955034,2.367358,2.674099,4.725911,1.175792,1.187491,0.051247,0.040761,0.664377,2.191667
006B01',bril,6,177,70.0,20,22.343516,0.0,0,16.035550,4.575012,...,11.286483,2.829856,3.584385,10.095526,0.899814,0.904473,0.040890,0.032495,0.543385,2.741667

In [30]:
df_1 = df_data
df_2 = df_new

df_1 = df_1.drop(['Balance_MLrange', 'Balance_MLstdev','Balance_MLmeanVelocity','Balance_APrange','Balance_APstdev','Balance_APmeanVelocity'], axis=1)
df_2 = df_2.drop(['Balance_MLrange', 'Balance_MLstdev','Balance_MLmeanVelocity','Balance_APrange','Balance_APstdev','Balance_APmeanVelocity'], axis=1)

display(df_1[df_1["TestID"] == "006A01'"])
display(df_2[df_2[""] == 22.343516])

,TestID,Conditie,SubjectID,SegmentNr,WalkingDirection,SegmentData,Alcohol,Height,Weight,Age,BMI,Balance_MeanVelocity,GaitVelocity,MovementVelocity,mad_SegmentData,mean_StepLength,Velocity,Alcohol_Class,std_SegmentData
0,006A01',norm,6,1,away,[[array([[0.04697253]]) array([[-0.18321628]])...,0.0,177,70.0,20,22.343516,4.725911,1.130575,1.133883,0.048709,0.610128,2.333333,0,0.060870
1,006A01',norm,6,2,towards,[[array([[0.40771624]]) array([[-0.22044282]])...,0.0,177,70.0,20,22.343516,4.725911,1.237257,1.246712,0.031206,0.681944,2.066667,0,0.038465
2,006A01',norm,6,3,away,[[array([[0.09305737]]) array([[-0.19160482]])...,0.0,177,70.0,20,22.343516,4.725911,1.274628,1.286475,0.022252,0.713798,2.033333,0,0.030903
3,006A01',norm,6,4,towards,[[array([[0.44424376]]) array([[-0.2283845]]) ...,0.0,177,70.0,20,22.343516,4.725911,1.060707,1.082892,0.060879,0.651639,2.333333,0,0.074751

Empty DataFrame
Columns: [Conditie, SubjectID, Height, Weight, Age, BMI, Alcohol, Alcohol_Class, Balance_MeanVelocity, GaitVelocity, MovementVelocity, std_SegmentData, mad_SegmentData, mean_StepLength, Velocity]
Index: []